Source: ros-kinetic-message-generation
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/message_generation
Standards-Version: 3.9.2

Package: ros-kinetic-message-generation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-gencpp, ros-kinetic-geneus, ros-kinetic-genlisp, ros-kinetic-genmsg, ros-kinetic-gennodejs, ros-kinetic-genpy
Description: Package modeling the build-time dependencies for generating language bindings of messages.
